{% extends 'base.html' %}

{% block content %}

<div>
    <div>
        <div>
            <div class="text-center">
                <h1 class="text-center">Bienvenido al sistema de autolectura</h1>
                <hr>
                <h4 class="text-center">Siga los siguientes pasos para realizar correctamente la autolectura</h4>
                <div class="row">
                    <div class="col-md">
                        <h5>Paso 1</h5>

                    </div>
                    <div class="col-md">
                        <h5>Paso 2</h5>

                    </div>
                    <div class="col-md">
                        <h5>Paso 3</h5>

                    </div>
                    <div class="col-md">
                        <a href="{% url 'read-add'%}" class="btn btn-success">Registrar Lectura</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
